.cardGarena[data-v-5aede25b]{height:300px;width:300px}.mainCss{margin-top:60px;margin:60px}.footer{text-align:center}*{box-sizing:border-box}.cardGarena[data-v-3ad3f4ac],.cardGarena[data-v-3d906c4c],.cardGarena[data-v-6fa8faba]{height:300px;width:300px}