.cardGarena[data-v-bd821080]{height:300px;width:300px}.mainCss{margin-top:60px;margin:60px}.footer{text-align:center}*{box-sizing:border-box}.cardGarena[data-v-0e76d850],.cardGarena[data-v-1deb3468],.cardGarena[data-v-c01c7088]{height:300px;width:300px}