 
 
  /* intro */
  .colImg{
    margin-top: 8%;
    margin-bottom: 0%;
  }
  
  .h1Intro {
    font-size: 3rem;
  }

  .imgPro {
    width: 80%;
    height: 80%;
    /* padding: auto;
    margin: auto; */
    float: right;
  }

  .div1 {
    text-align: center;
    float: left;
    margin-top: 15%;
    
  }


  /* portfolio */
  .mainPort{
      background-color: #f2f2f2;
      margin-top: 30px;
      
  }

  .mainPortfolio{
    
    margin-bottom: 50px;
  }
  
  .routerView{
    height: auto;
    width: auto;
    inline-size: 400px;
    
  }

  .hrSmall {
    width: 5%;
    margin-left: 48%;
  }
  

  /* Vat */
  .mainVat{
      text-align: center;
      margin-left: 30%;
      margin-right: 30%;
      
      margin-bottom: 50px;
  }
  
  .totalVat{
      background-color: aqua;
  }

  /* garena */
  .imgGarena{
   margin-right: 20px;
   padding-left: 20px;
   height: 300px;
   width: 300px;
  }

  .CardAllPort{
    padding-bottom: 30px;
  }

  .cardGarena{
    padding: 8px;
    margin-left: 30%;
    margin-top: 15%;

    opacity: 0.7;
    
    
  }

  .cardGarena:hover{
    opacity: 1;
    margin-top: 20px;

    
  }

  .inlineGarena{
    display: inline;
  }

  .colorMain{
    color: #0aafba;
  }

  .imgLogoJob{
    
    margin-top: 30px;
    width: 50%;
    margin-left: 25%;
  }

  /* multitable */
  .cardMulti{

    padding: 30px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 40px;
    text-align: center;
  }

  /* Footer */
  .cardFooter{
    text-align: center;
  }

  .titleFooter{
    font-weight: bolder;
    font-size: 20px;
  }

  /* App */
  
  /* .vAppBar{

    height: 60px
  } */

  .titleBar{
    margin-right: 20px;
    font: bold;
  }

    /* height: 20px;
   */ 

  /* .titleBar{
    margin-right: 20px;

    color: red;
    text-decoration: none;
    
  } */

  

 


  .hireMe{
    margin-right: 20px;
    margin-left: 20px;


  }
  
  .footer {
    text-align: center;
  }
  
  *{
    box-sizing: border-box;
  }
  .content{
    margin: 100px;
  }


  /* Whatido */
  .hrsmall {
    width: 5%;
    margin-left: 48%;
  }
  
  .cardService {
    text-align: center;
    width: 300px;
    padding: 40px;
    margin: auto;
    margin-top: 20px;
    height: 500px;
  }
  
  .imgService{
    
    margin-left: auto;
    margin-right: auto;
    inline-size: 40%;
  }

  .mainWhatido{
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .align-center{
    text-align: center;
  }

  .align-right{
    text-align: right;
  }

  .linkJob{
    text-decoration: none;

  }

  


  .inputValue{
    padding-left: 30%;
    padding-right: 30%;
  }

  html{
    scroll-behavior: smooth;
  }


  #scrService{
    margin-bottom: 70px;
  }

  #scrPortfolio{
    margin-bottom: 30px;
  }
  

  #Service{
    
    height: 20px;
  }

  #Portfolio{
    height: 20px;
  }

  html{
    scroll-behavior: smooth;
  }

  .conTactMe{
    padding-top: 0px;
  }

  .conTactMe:hover{
    cursor: pointer;
  }

  .divSocial{
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .delpadbot{
    padding-bottom: 0px;
  }

  .delpadtop{
    padding-top: 0px;
  }
