<template>
  <v-container>
    <v-row style="margin: 0%;">
      <v-col>

        <div>
          <v-row>
            <v-col class="div1">
              <h1 class="h1Intro">Thanawat Noybol</h1>
              สวัสดีครับผมชื่อเบียร์ ความฝันในอาชีพอยากเป็นนักพัฒนา Full-Stack
              ผมชอบการเขียนโค้ด การทำงานที่ผ่านมาทำให้ผมได้รับประสบการณ์
              การทำงานเป็นทีม มีความอดทนสูง ทำงานได้หลากหลาย
              ผมพร้อมที่จะเรียนรู้สิ่งใหม่ๆที่ท้าทาย
              และนำความรู้มาช่วยพัฒนาองค์กร ผมเชื่อว่าผมเป็น Full-Stack ได้
              <br />
              <a @click="iCanDoIt()"> “ I Can Do it ” </a>
              <br />
              <br />
              <v-btn target="blank" href="https://drive.google.com/file/d/1k36Hfl9gqBbjSdIspCH2RBXFA8mQlHfH/view?usp=sharing" color="#0aafba" dark>Download Resume</v-btn>
            </v-col>
            
            <v-col class="colImg">
              <v-img class="imgPro" src="@/assets/Profile.png"></v-img>
            </v-col>
            
          </v-row>
        </div>

      </v-col>
    </v-row>
  </v-container>
  
</template>

<script>

export default {
  

  name: "Intro",

  data() {
    return {};
  },
  mounted() {},
  methods: {
    iCanDoIt(){
      alert(`คติประจำใจของผม 
      ---- I Can Do It ----`)
    },
  },
};
</script>

<style lang="scss" scoped>

</style>
