<template>
  <v-container class="mainPortfolio">

    <!-- Menu Bar -->
    <v-row style="padding-top: 40px" class="text-center">
      <v-col>
        <b style="color: #0aafba;">MY WORK</b>

        <h1>Portfolio</h1>

        <hr color="#0aafba" size="10" noshade class="hrSmall" />
      </v-col>
    </v-row>

    <div class="mainPort">
      <v-tabs color="#0aafba" centered>
        <v-tab to="/"> Garena </v-tab>
        <v-tab to="/vsport"> V-Sport </v-tab>
        <v-tab to="/ptg"> PTG Energy </v-tab>
        <v-tab to="/vat">Vat% </v-tab>
        <v-tab to="/multitable">สูตรคูณ </v-tab>
      </v-tabs>
    </div>

    <router-view></router-view>

    <div class="mainPort">
      <v-tabs color="#0aafba" centered>
        <v-tab to="/"> Garena </v-tab>
        <v-tab to="/vsport"> V-Sport </v-tab>
        <v-tab to="/ptg"> PTG Energy </v-tab>
        <v-tab to="/vat">Vat% </v-tab>
        <v-tab to="/multitable">สูตรคูณ </v-tab>
      </v-tabs>
    </div>

    
  </v-container>
</template>

<script>
export default {
  name: "Porfolio",

  data() {
    return {};
  },
  mounted() {},
  methods: {},
};
</script>

<style lang="scss" scoped>
.cardGarena {
  height: 300px;
  width: 300px;
}
</style>
