<template>
  <v-container class="mainWhatido">
    
    <v-row  class="text-center">
      <v-col>
        <b style="color: #0aafba;">WHAT I DO</b>

        <h1>Services</h1>

        <hr color="#0aafba" size="10" noshade class="hrsmall" />
        <br />
        <p class="mt-3">
          ผมใช้เวลาว่างหลังเลิกงาน ศึกษาหาความรู้เกี่ยวกับการเขียนโค้ด <br> เพื่อความฝันที่จะได้เดินทางสาย Developer <br> และที่ผมศึกษาอยู่ตอนนี้มีดังนี้
        </p>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <div>
          <v-card class="cardService">
            <v-img style="width: 140px;" class="imgService" src="@/assets/html+css.png"></v-img>
            <h1>HTML & CSS</h1>
            <p class="mt-3">HTML เป็นภาษาคอมพิวเตอร์ในรูปแบบหนึ่งที่ใช้สำาหรับสร้างหน้าเว็บ (Web Page) CSS คือ ภาษาที่ใช้สำหรับตกแต่งเอกสาร HTML/XHTML ให้มีหน้าตา สีสัน ระยะห่าง พื้นหลัง เส้นขอบและอื่นๆ ตามที่ต้องการ</p>
            
           
              <v-btn target="blank" href="https://www.w3.org/Style/Examples/011/firstcss.th.html" rounded dark depressed color="#0aafba" style="margin: 30px">Read more</v-btn>
           
           
          </v-card>
        </div>
      </v-col>

      <v-col>
        <div>
          <v-card class="cardService">
            <v-img class="imgService" src="@/assets/js.png"></v-img>
            <h1>JAVA SCRIPT</h1>
            <p class="mt-3">JavaScript สามารถเขียนโปรแกรม JavaScript เพิ่มไปในเว็ปเพจเพื่อประโยชน์ในด้านต่างๆ ทั้งการคำนวณ การแสดงผล การรับ-ส่งข้อมูล และสามารถโต้ตอบกับผู้ใช้ได้อย่างทันทีทันได</p>
            <v-btn target="blank" href="http://www.elfhs.ssru.ac.th/wipada_ch/pluginfile.php/868/course/summary/Chapter7-JavaScript.pdf" rounded dark depressed color="#0aafba" style="margin: 30px">Read more</v-btn>
          </v-card>
        </div>
      </v-col>

      <v-col>
        <div>
          <v-card class="cardService">
            <v-img class="imgService" src="@/assets/vue.png"></v-img>
            <h1>VUE.JS</h1>
            <p class="mt-3">Vue ทำหน้าที่เป็น View ใน MVC (Model View Controller) เป็น JavaScript Framework เอาไว้สำหรับพัฒนา UI (User Interface) สำหรับส่วน Frontend </p>
            <v-btn target="blank" href="https://devahoy.com/blog/2019/08/introduction-to-vuejs/" rounded dark depressed color="#0aafba" style="margin: 30px">Read more</v-btn>
          </v-card>
        </div>
      </v-col>

      <v-col>
        <div>
          <v-card class="cardService">
            <v-img class="imgService" src="@/assets/nodejs.png"></v-img>
            <h1>NODE.JS</h1>
            <p class="mt-3">Node.js คือ Cross Platform Runtime Environment สำหรับฝั่ง Server และเป็น Open Source ซึ่งเขียนด้วยภาษา JavaScript สรุปรวมๆ NodeJS ก็คือ Platform ตัวหนึ่งที่เขียนด้วย JavaScript สำหรับเป็น Web Server นั่นเอง</p>
            <v-btn target="blank" href="https://devahoy.com/blog/2015/07/getting-started-with-nodejs/" rounded dark depressed color="#0aafba" style="margin: 30px">Read more</v-btn>
          </v-card>
        </div>
      </v-col>

      <v-col>
        <div>
          <v-card class="cardService">
            <v-img class="imgService" src="@/assets/firebase.png"></v-img>
            <h1>FIREBASE</h1>
            <p class="mt-3">Firebase คือ Platform ที่รวบรวมเครื่องมือต่าง ๆ สำหรับการจัดการในส่วนของ Backend หรือ Server side ซึ่งทำให้สามารถ Build Mobile Application ได้อย่างมีประสิทธิภาพ และยังลดเวลาและค่าใช้จ่ายของการทำ Server side หรือการวิเคราะห์ข้อมูลให้อีกด้วย</p>
            <v-btn target="blank" href="https://medium.com/jed-ng/firebase-%E0%B8%84%E0%B8%B7%E0%B8%AD%E0%B8%AD%E0%B8%B0%E0%B9%84%E0%B8%A3-%E0%B8%A1%E0%B8%B2%E0%B8%94%E0%B8%B9%E0%B8%A7%E0%B8%B4%E0%B8%98%E0%B8%B5%E0%B8%AA%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%87-project-%E0%B9%81%E0%B8%A5%E0%B8%B0%E0%B8%97%E0%B8%B3%E0%B8%84%E0%B8%A7%E0%B8%B2%E0%B8%A1%E0%B8%A3%E0%B8%B9%E0%B9%89%E0%B8%88%E0%B8%B1%E0%B8%81%E0%B8%81%E0%B8%B1%E0%B8%9A-firebase-d48bfac67b14" rounded dark depressed color="#0aafba" style="margin: 30px">Read more</v-btn>
          </v-card>
        </div>
      </v-col>

      <v-col>
        <div>
          <v-card class="cardService">
            <v-img class="imgService" src="@/assets/gitlab.png"></v-img>
            <h1>GITLAB </h1>
            <p class="mt-3">Gitlab คือ Software ที่จัดการ Git Repository และยังสามารถจัดการ CI/CD (Continuous integration and Continuous delivery) ได้อีกด้วย </p> <br>
            <v-btn target="blank" href="https://medium.com/jed-ng/gitlab-%E0%B8%84%E0%B8%B7%E0%B8%AD%E0%B8%AD%E0%B8%B0%E0%B9%84%E0%B8%A3-%E0%B9%80%E0%B8%A3%E0%B8%B4%E0%B9%88%E0%B8%A1%E0%B9%83%E0%B8%8A%E0%B9%89%E0%B8%87%E0%B8%B2%E0%B8%99%E0%B9%80%E0%B8%9A%E0%B8%B7%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B8%95%E0%B9%89%E0%B8%99-5ccffc430456" rounded dark depressed color="#0aafba" style="margin: 30px">Read more</v-btn>
          </v-card>
        </div>
      </v-col>

    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "Whatido",

  data() {
    return {};
  },
  mounted() {},
  methods: {},
};
</script>

<style lang="scss" scoped>

</style>
