<template>
  <v-container class="mainPortfolio">



    <!-- routerview -->
    <v-img class="imgLogoJob" src="@/assets/garena/logogarena.png"></v-img>

    <h2 style="padding-top: 30px;" class="text-center colorMain">
      บริษัท การีนา ออนไลน์ (ประเทศไทย) จำกัด ปี 2014 - 2016 <br />
      ตำแหน่ง IT Technician / Sales
    </h2>
    <br />

    <p class="text-center">
      <br />
      ลักษณะการทำงาน : ติดตั้งโปรแกรมควบคุมร้านอินเทอร์เน็ต (ระบบ Diskless &
      ระบบคิดเงินร้าน) <br />- Support ร้าน internet ในจังหวัดสุรินทร์
      ที่เป็นลูกค้าของบริษัท (และจังหวัดใกล้เคียงในบางเวลา
      ตามที่บริษัทมอบหมายให้) <br />- Remote แก้ไขปัญหาให้กับลูกค้าร้าน internet
      (หากอาการไม่หนักสามารถรีโมทไปแก้ได้) <br />- รับผิดชอบดูแลร้านและแก้ไขระบบ
      Hardware&Software ให้ลูกค้าของบริษัททั้งหมดในจังหวัดสุรินทร์ กว่า 200 ร้าน
      <br>
      <a target="blank" class="linkJob" href="https://www.garena.co.th/">https://www.garena.co.th/</a>
    </p>

    <v-row class="CardAllPort align-center">
      <v-col class="align-center">
        <v-row>
          <div>
            <v-card color="#0aafba" class="cardGarena"
              ><v-img src="@/assets/garena/01.png"></v-img
            ></v-card>
          </div>
        </v-row>
      </v-col>

      <v-col>
        <v-row>
          <div>
            <v-card color="#0aafba" class="cardGarena"
              ><v-img src="@/assets/garena/02.png"></v-img
            ></v-card>
          </div>
        </v-row>
      </v-col>

      <v-col>
        <v-row>
          <div>
            <v-card color="#0aafba" class="cardGarena"
              ><v-img src="@/assets/garena/03.png"></v-img
            ></v-card>
          </div>
        </v-row>
      </v-col>

      <v-col>
        <v-row>
          <div>
            <v-card color="#0aafba" class="cardGarena"
              ><v-img src="@/assets/garena/04.png"></v-img
            ></v-card>
          </div>
        </v-row>
      </v-col>

      <v-col>
        <v-row>
          <div>
            <v-card color="#0aafba" class="cardGarena"
              ><v-img src="@/assets/garena/05.png"></v-img
            ></v-card>
          </div>
        </v-row>
      </v-col>

      <v-col>
        <v-row>
          <div>
            <v-card color="#0aafba" class="cardGarena"
              ><v-img src="@/assets/garena/06.png"></v-img
            ></v-card>
          </div>
        </v-row>
      </v-col>

      <v-col>
        <v-row>
          <div>
            <v-card color="#0aafba" class="cardGarena"
              ><v-img src="@/assets/garena/07.png"></v-img
            ></v-card>
          </div>
        </v-row>
      </v-col>

      <v-col>
        <v-row>
          <div>
            <v-card color="#0aafba" class="cardGarena"
              ><v-img src="@/assets/garena/08.png"></v-img
            ></v-card>
          </div>
        </v-row>
      </v-col>

      <v-col>
        <v-row>
          <div>
            <v-card color="#0aafba" class="cardGarena"
              ><v-img src="@/assets/garena/09.png"></v-img
            ></v-card>
          </div>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "home",

  data() {
    return {};
  },
  mounted() {},
  methods: {},
};
</script>

<style lang="scss" scoped>
.cardGarena {
  height: 300px;
  width: 300px;
}
</style>
