<template>
  <v-container class="mainPortfolio">

  <div class="mainVat">

    <!-- routerview -->
    <v-row class="text-center ma-5">
      <v-col lass="mainVat">
        <h1>โปรแกรมสูตรคูณ</h1>
        <v-text-field
          class="inputValue my-5"
          label="อยากได้สูตรคูณแม่ไหนใส่เข้ามาเลย"
          v-model="inputMulti"
        />
        <v-btn color="#0aafba" dark @click="onCount(inputMulti)">คำนวน</v-btn>
        <!-- <v-btn style="margin-left: 25px" @click="forReset()" >Reset</v-btn> -->
       
          <v-card class="cardMulti" dark id="showCount"></v-card>
        
      </v-col>
    </v-row>


    

  </div>

  </v-container>
</template>

<script>
export default {
  name: "multitable",
  components: {},
  directives: {},
  data() {
    return {};
  },
  mounted() {},
  methods: {
    onCount(value) {
      if (value === "") {
        alert("กรุณาใส่ข้อมูล");
      } else {
        for (let i = 1; i <= 12; i++) {
          let sum = value * i;

          document.getElementById(
            "showCount"
          ).innerHTML += `${value}x${i}= ${sum} ${"<br>"}`;
        }
      }
    },
  },
};
</script>

<style lang="scss" scoped></style>
