<template>
  <v-container class="mainPortfolio">


    <!-- routerview -->
    <v-img class="imgLogoJob" src="@/assets/ptg/logoptg.png"></v-img>

    <h2 style="padding-top: 30px;" class="text-center colorMain">
      บริษัท พีทีจี เอ็นเนอยี จำกัด (มหาชน) ปี 2018 - ปัจจุบัน <br>
      ตำแหน่ง IT Technician Support (ภาคอีสานตอนล่าง)
    </h2>
    <br />

    <p class="text-center">
      <br />
      รับผิดชอบเครื่องคอมพิวเตอร์และอุปกรณ์เกี่ยวกับ IT ทั้งหมด ให้คำปรึกษาและแก้ไขปัญหาเกี่ยวกับคอมพิวเตอร์ให้ผู้จัดการปั้มน้ำมัน <br>
      ทั้งหมด 160 สาขา จาก 6 จังหวัดในภาคอีสานตอนล่าง ให้สามารถใช้งานคอมพิวเตอร์ได้อย่างไม่ติดปัญหา <br> 
      แก้ไขปัญหาและให้คำแนะนำเกี่ยวกับการใช้งานคอมพิวเตอร์ และ Software เข้าหน้างานแก้ไขปัญหาเครื่องคอมพิวเตอร์หรืออุปกรณ์ IT ทั้งหมด <br>
      ประชุมฝ่ายเดือนละครั้งเพื่อหาแนวทางการแก้ปัญหาและหาแนวทางพัฒนาให้ทีมงานทำงานได้เร็วขึ้น หาโปรแกรมหรือตัวช่วยต่างๆเข้ามาประกอบการทำงาน
      <br>
      <a target="blank" class="linkJob" href="https://www.ptgenergy.co.th/">https://www.ptgenergy.co.th/</a>
    </p>

    <v-row class="CardAllPort">
      <v-col>
        <v-row>
          <div>
            <v-card color="#0aafba" class="cardGarena"
              ><v-img src="@/assets/ptg/01.png"></v-img
            ></v-card>
          </div>
        </v-row>
      </v-col>

      <v-col>
        <v-row>
          <div>
            <v-card color="#0aafba" class="cardGarena"
              ><v-img src="@/assets/ptg/02.png"></v-img
            ></v-card>
          </div>
        </v-row>
      </v-col>

      <v-col>
        <v-row>
          <div>
            <v-card color="#0aafba" class="cardGarena"
              ><v-img src="@/assets/ptg/03.png"></v-img
            ></v-card>
          </div>
        </v-row>
      </v-col>

      <v-col>
        <v-row>
          <div>
            <v-card color="#0aafba" class="cardGarena"
              ><v-img src="@/assets/ptg/04.png"></v-img
            ></v-card>
          </div>
        </v-row>
      </v-col>

      <v-col>
        <v-row>
          <div>
            <v-card color="#0aafba" class="cardGarena"
              ><v-img src="@/assets/ptg/05.png"></v-img
            ></v-card>
          </div>
        </v-row>
      </v-col>

      <v-col>
        <v-row>
          <div>
            <v-card color="#0aafba" class="cardGarena"
              ><v-img src="@/assets/ptg/06.png"></v-img
            ></v-card>
          </div>
        </v-row>
      </v-col>

      <v-col>
        <v-row>
          <div>
            <v-card color="#0aafba" class="cardGarena"
              ><v-img src="@/assets/ptg/07.png"></v-img
            ></v-card>
          </div>
        </v-row>
      </v-col>

      <v-col>
        <v-row>
          <div>
            <v-card color="#0aafba" class="cardGarena"
              ><v-img src="@/assets/ptg/08.png"></v-img
            ></v-card>
          </div>
        </v-row>
      </v-col>

      <v-col>
        <v-row>
          <div>
            <v-card color="#0aafba" class="cardGarena"
              ><v-img src="@/assets/ptg/09.png"></v-img
            ></v-card>
          </div>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "home",

  data() {
    return {};
  },
  mounted() {},
  methods: {},
};
</script>

<style lang="scss" scoped>
.cardGarena {
  height: 300px;
  width: 300px;
}
</style>


















