<template>  

  <div class="mainPortfolio">
    <v-container >

    <!-- routerview -->
      <v-row>
        <v-col class="mainVat my-5">
          <h2>โปรแกรมคำนวนค่า Vat</h2>
        
          
          <v-text-field v-model="inputValue" type="number" label="ใส่จำนวน" />

          <v-text-field v-model="inputVat" type="number" label="ใส่ค่า Vat %" />

          <v-btn class="my-5" @click="convert(inputValue, inputVat)" color="#0aafba" dark
            >คำนวน</v-btn
          >
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "Vat",
  components: {},
  data() {
    return {};
  },
  mounted() {},
  methods: {
    convert(input, vat) {
      let x = input;
      let l = vat;

      let i = Number(x * l) / 100;

      alert(`
          vat ${vat} %
          ของจำนวน ${input} เท่ากับ ${i}
          `);
    },
  },
};
</script>

<style lang="scss" scoped></style>
