<template>
  <v-container class="mainPortfolio">


    <!-- routerview -->
    <v-img class="imgLogoJob" src="@/assets/vsport/logovsport.png"></v-img>

    <h2 style="padding-top: 30px;" class="text-center colorMain">
      ร้าน V-Sport Games ปี 2016 - 2020 <br>
      เจ้าของธุรกิจ
    </h2>
    <br />

    <p class="text-center">
      <br />
      ร้าน V-Sport Games เปิดให้บริการ Internet & Games 
      ซึ่งผมได้ออกแบบร้าน โลโก้ร้าน ทำระบบร้านเกมด้วยตัวเอง <br>
      และได้รับซ่อมคอมพิวเตอร์ อุปกรณ์ต่อพ่วงต่างๆ พร้อมกับรับลงระบบ Diskless ให้กับร้าน Internet ร้านอื่นอีกด้วย <br>
        นอกเหนือจากเปิดร้านเกมแล้วก็ยังรับล้างแอร์บ้านไปด้วย<br>
        <br>
      <a target="blank" class="linkJob" href="https://www.facebook.com/VSportgamers">https://www.facebook.com/VSportgamers</a>
    </p>

    <v-row class="CardAllPort">
      <v-col>
        <v-row>
          <div>
            <v-card color="#0aafba" class="cardGarena"
              ><v-img height="285px" src="@/assets/vsport/01.jpg"></v-img
            ></v-card>
          </div>
        </v-row>
      </v-col>

      <v-col>
        <v-row>
          <div>
            <v-card color="#0aafba" class="cardGarena"
              ><v-img src="@/assets/vsport/02.png"></v-img
            ></v-card>
          </div>
        </v-row>
      </v-col>

      <v-col>
        <v-row>
          <div>
            <v-card color="#0aafba" class="cardGarena"
              ><v-img src="@/assets/vsport/03.png"></v-img
            ></v-card>
          </div>
        </v-row>
      </v-col>

      <v-col>
        <v-row>
          <div>
            <v-card color="#0aafba" class="cardGarena"
              ><v-img src="@/assets/vsport/04.png"></v-img
            ></v-card>
          </div>
        </v-row>
      </v-col>

      <v-col>
        <v-row>
          <div>
            <v-card color="#0aafba" class="cardGarena"
              ><v-img src="@/assets/vsport/05.png"></v-img
            ></v-card>
          </div>
        </v-row>
      </v-col>

      <v-col>
        <v-row>
          <div>
            <v-card color="#0aafba" class="cardGarena"
              ><v-img src="@/assets/vsport/06.png"></v-img
            ></v-card>
          </div>
        </v-row>
      </v-col>

      <v-col>
        <v-row>
          <div>
            <v-card color="#0aafba" class="cardGarena"
              ><v-img src="@/assets/vsport/07.png"></v-img
            ></v-card>
          </div>
        </v-row>
      </v-col>

      <v-col>
        <v-row>
          <div>
            <v-card color="#0aafba" class="cardGarena"
              ><v-img src="@/assets/vsport/08.png"></v-img
            ></v-card>
          </div>
        </v-row>
      </v-col>

      <v-col>
        <v-row>
          <div>
            <v-card color="#0aafba" class="cardGarena"
              ><v-img height="285px" src="@/assets/vsport/09.jpg"></v-img
            ></v-card>
          </div>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "home",

  data() {
    return {};
  },
  mounted() {},
  methods: {},
};
</script>

<style lang="scss" scoped>
.cardGarena {
  height: 300px;
  width: 300px;
}
</style>










