<template>
  <div>
    <!-- App Bar -->
    <v-app>   
      
        <v-app-bar height="50px" fixed class="vAppBar" dark color="#0aafba">
          
          <v-spacer></v-spacer>
          <div >
            <a href="#scrHome" style="color: white;  text-decoration: none; margin: 20px;">HOME</a>
            <a href="#scrService" style="color: white;  text-decoration: none; margin: 20px;">SERVICE</a>
            <a href="#scrPortfolio" style="color: white;  text-decoration: none; margin: 20px;">PORTFOLIO</a>
          </div>
          

          <v-btn @click="alertHireMe()" class="hireMe" light>Hire Me</v-btn>
        </v-app-bar>
     


      <!-- Content -->

      <v-main>

        <div id="scrHome"></div>
        <Home/>
        <hr>
        <div id="scrService"></div>
        <Service />
        <hr>
        <div id="scrPortfolio"></div>
        <Portfolio/>


      </v-main>
    </v-app>

    <div class="text-center">
      <v-row>
        <Footer />
      </v-row>
    </div>

    <!-- Footer -->


    <v-footer dark padless>
      <v-card color="#0aafba" class="flex" flat tile>
        <v-card-title class="teal">
          <strong @click="alertHireMe()" class="subheading col-12 align-center"
            >CONTACT ME</strong
          >

          <div class="delpadtop delpadbot align-center col-12">
            <v-btn
              v-for="icon in icons"
              :key="icon"
              class="mx-4 "
              dark
              icon
              :href="icon.to"
              target="blank"
            >
              <v-icon size="24px">
                {{ icon.name }}
              </v-icon>
            </v-btn>

            <v-card-text class="delpadbot py-2 white--text text-center align-center">
          {{ new Date().getFullYear() }} — <strong>By Thanawat</strong>
        </v-card-text>
          </div>
        </v-card-title>

      </v-card>
    </v-footer>
    
  </div>
</template>

<script>

import Home from './components/Home.vue';
import Portfolio from './components/Portfolio.vue';
import Service from './components/Service.vue';

export default {
  
  name: "App",

  components: {
    Home,
    Service,
    Portfolio,
    },

  data: () => ({
    icons: [
      {
        name: "mdi-facebook",
        to: "https://www.facebook.com/valentine.tevada/",
      },
      { name: "mdi-twitter", to: "https://twitter.com/koobaa001" },
      { name: "mdi-instagram", to: "https://www.instagram.com/thanawat.no/" },
    ],
  }),

  methods: {
    alertHireMe() {
      alert(`${"CONTACT"} 
      
      ${"Phone : 099-716-5659"}  
      ${"Email :  Thanawat.noybol@gmail.com"}`);
    },
  },
};
</script>


<style>
.mainCss {
  margin-top: 60px;
  margin: 60px;
}

.footer {
  text-align: center;
}

/* .background{
  background-image: url('assets/Background01.png');
} */

* {
  box-sizing: border-box;
}
</style>
